/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');/*Nunito*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.textarea{
    width:220px;
    outline: none;
    height: 60px;
}

.form-add{
    border: 1px solid black;
    width: 240px;
    padding: 10px;
}

.caixa-form-add{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.caixa-input{
    display: flex;
    flex-direction: column;
}

h3, h4{
    text-align: center;
}

input{
    width: 220px;
    outline: none;
    height: 20px;
}

select{
    width: 230px;
    outline: none;
    height: 27px;
}

.caixa-input-replic{
    display: flex;
    flex-direction: row;
}

.replic{
    width: 18px;
}

.caixa-add{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add{
    width: 100px;
    height:30px;
    border: none;
    background-color:rgb(40, 142, 238);
    color: white;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.button-add:hover{
    background-color:rgb(56, 238, 40);
}

.caixa-add-sub{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add-sub{
    width: 100px;
    height:30px;
    border: none;
    background-color:rgb(40, 142, 238);
    color: white;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.button-add-sub:hover{
    background-color:rgb(56, 238, 40);
}

.caixa-input-idmenu{
    margin-top: 10px;
    margin-bottom: 20px;
}